.main{
  &__row-inner{
    max-width: none!important;
    flex-shrink: unset!important;
    .table{
      position: relative!important;
    }
  }

  &__loading-hover{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
  }
}
.row{
  flex-wrap: nowrap!important;
}
